DATABASE_URL_DIRECT=postgresql://postgres:your_password_here@db.your-project-ref.supabase.co:5432/postgres
DATABASE_URL_POOLED=postgresql://postgres.your-project-ref:your_password_here@your-pooler-host:6543/postgres?pgbouncer=true